{% extends 'generator/layout.html' %}

{% block content %}

<div class="card card-body p-5" style="background-color: #121212;">
    <h1>About</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi doloribus veniam unde odit
        blanditiis,
        dolor ea, assumenda maiores cum vitae earum, non recusandae voluptatem sunt! Culpa repellat, aspernatur sint
        nostrum
        eum qui! Optio laborum quis dolorum asperiores sunt alias omnis eius cupiditate. Deserunt tenetur harum
        delectus
        quam perspiciatis, incidunt similique ipsum dolorem neque modi at? Velit hic praesentium veritatis, esse
        saepe
        nostrum sint provident sequi fuga pariatur exercitationem a neque officiis. Totam numquam omnis mollitia
        adipisci
        quasi, recusandae, sapiente explicabo aliquam tempora hic sint aperiam? Pariatur ut fuga praesentium maiores
        architecto soluta, dicta quos dignissimos obcaecati tempora et recusandae amet eum, iste alias repellendus
        libero
        illum laboriosam a suscipit! Eos, reprehenderit. Dignissimos praesentium voluptas quidem incidunt quasi
        officia, id,
        rerum perferendis recusandae officiis voluptatibus voluptate autem repellat tempora, esse at maxime minima
        soluta!
        Veniam sequi animi dolores quasi exercitationem modi dignissimos qui consequuntur magni voluptatum
        blanditiis
        aliquam perferendis commodi, aspernatur harum, repudiandae possimus amet voluptates quisquam quos inventore
        minus?
        Commodi dicta provident autem eius porro fugiat ea veritatis, obcaecati at tempora quo necessitatibus natus
        quia
        magni molestiae eligendi cum sed cupiditate atque laborum quibusdam a. Nemo, quod! Reprehenderit fuga quasi
        aliquam,
        magnam totam ratione laborum enim reiciendis illo quisquam repellat, libero, nihil at commodi suscipit ullam
        consectetur soluta. Eos quidem ipsum maiores ullam facere ad dolor sequi voluptates nesciunt, necessitatibus
        qui
        impedit nostrum odit vitae! Explicabo, fugiat reprehenderit qui officia laboriosam necessitatibus sequi
        tenetur fuga
        voluptas at dolore sit! Maiores, nam sint deserunt enim blanditiis, ea eum qui pariatur odit porro quisquam
        quibusdam doloremque ab alias repellat. Repellat sapiente, laudantium voluptates sunt odio quaerat ea eum
        quia earum
        labore ratione dolorum voluptas nisi odit! Molestiae numquam, cumque, perferendis molestias magnam
        voluptates
        consequuntur, eligendi cupiditate sint aliquid adipisci vel quidem amet id incidunt nam voluptatibus libero
        repudiandae rem voluptas. Ut!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quisquam at deserunt a dolore! Maiores nemo
        voluptates
        eius quibusdam ut nulla libero at ad voluptate minus cupiditate animi obcaecati minima nesciunt delectus
        error,
        aliquid doloribus beatae illum quia? Voluptatem nulla tenetur soluta explicabo tempore ea praesentium iure.
        Ea
        beatae eum aliquam ipsa alias placeat minima libero unde molestias dignissimos ipsam deserunt, dolores
        blanditiis
        sunt ad eos delectus voluptatum aliquid reiciendis? Eaque delectus ex assumenda voluptatum unde illo vero,
        eveniet
        asperiores hic corrupti itaque accusantium dignissimos, doloribus vel saepe deserunt commodi. Earum odit
        reiciendis
        aperiam accusamus cumque facilis ab ratione totam.</p>
</div>

{% endblock %}